.btn {
  @apply font-medium transition-all duration-200 rounded-lg;
}


/* Button Primary */

.btn-primary {
  background: var(--color-primary);
  color: var(--color-gaWhite);
}

.btn-primary-dark {
  background: var(--color-primary-dark);
  color: var(--color-gaWhite);
}

.btn-primary-light {
 background: rgba(var(--color-primary-light), 0.12);
  color: rgb(var(--color-primary-light));
}


/* Button Secondary */

.btn-secondary-dark {
  background: var(--color-secondary-dark);
  color: var(--color-gaWhite);
}

.btn-secondary {
  background: var(--color-secondary);
  color: var(--color-gaWhite);
}

.btn-secondary-light {
   background: rgba(var(--color-secondary-light), 0.00);
  color: rgb(var(--color-secondary-light));
}


/* Button Sucess */

.btn-success-dark {
  background: var(--color-success-dark);
  color: var(--color-gaWhite);
}

.btn-success {
  background: var(--color-success);
  color: var(--color-gaWhite);
}

.btn-success-light {
   background: rgba(var(--color-primary-light), 0.12);
  color: rgb(var(--color-primary-light));
}


/* Button Info */

.btn-info-dark {
  background: var(--color-info-dark);
  color: var(--color-gaWhite);
}

.btn-info {
  background: var(--color-info);
  color: var(--color-gaWhite);
}

.btn-info-light {
   background: rgba(var(--color-info-light), 0.12);
  color: rgb(var(--color-info-light));
}


/* Button Warning */

.btn-warning-dark {
  background: var(--color-warning-dark);
  color: var(--color-gaWhite);
}

.btn-warning {

  background: var(--color-warning);
  color: var(--color-gaWhite);
}

.btn-warning-light {
  background: rgba(var(--color-warning-light), 100);
  color: rgb(var(--color-warning));
}

/* Button Danger */

.btn-danger-dark {
  background: var(--color-danger-dark);
  color: var(--color-gaWhite);
}

.btn-danger {

  background: var(--color-danger);
  color: var(--color-gaWhite);
}

.btn-danger-light {
   background: rgba(var(--color-danger-light), 0.12);
  color: rgb(var(--color-danger-light));
}